 

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger"> Error Occured in Controller @ViewData["ControllerName"]</h2>
<h2 class="text-danger">Error Occured in Action Mathod is @ViewData["ActionName"]</h2>
<h2 class="text-danger">Error Message is @ViewData["ExceptionMessage"]</h2> 

<a asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]">Go Back</a>