@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger"> Error Occured in Controller @Model.ControllerName</h2>
<h2 class="text-danger">Error Occured in Action Mathod is @Model.ActionName</h2>
<h2 class="text-danger">Error Message is @Model.ErrorMessage</h2> 

<a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">Go Back</a>